<%- include('adminHeader'); %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome Admin</h1>
        <p class="lead">Create a New Course, Give Approval and Clear Doubts</p>
    </div>
</div>
<%- include('adminFooter'); %>

